<div class="container">
  <div class="form-container">
    <div class="header">
      <mat-icon
        aria-hidden="false"
        aria-label="Example note_add icon"
        fontIcon="note_add"
      ></mat-icon>

      <h2 class="form-title">Post New Customer</h2>
    </div>
    <form [formGroup]="postCustomerForm">
      <div class="form-group">
        <label for="name">Name </label>
        <input
          type="text"
          id="name"
          name="name"
          required
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone </label>
        <input
          type="phone"
          id="phone"
          name="phone"
          required
          formControlName="phone"
        />
      </div>
      <div class="btn-container">
        <button type="button" routerLink="/" class="cancel">
          Cancel
        </button>
        <button type="submit" (click)="postCustomer()">Create</button>
      </div>
    </form>
  </div>
</div>
